@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.8;
    background-image: url("https://i.postimg.cc/8kdcBG3c/new-year.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 20px;
    overflow: hidden;
}

h1 {
    font-size: 3.75rem;
    text-align: center;
}

.count-down {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


.timer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem;
}

.timer h2 {
    margin: 0 0 1.25rem;
    font-size: 4rem;
}

.message {
    font-size: 3.75rem;
    font-size: bold;
}

small {
    padding-top: 0.3rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: block;
}

.year {
    font-size: 12.5rem;
    z-index: -1;
    opacity: 0.2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }

    .timer {
        margin: 0.3rem;
    }

    .timer h2 {
        font-size: 2rem;
        margin: 0;
        text-align: center;
    }

    .timer small {
        font-size: 0.75rem;
    }

    .year {
        font-size: 6.25rem;
    }

    .message {
        font-size: 1.6rem;
    }
}

